include ./products-list

- 
  const products = [
    {title: "Nike Leron X1", price: "75.00", path: "@img/products-1.png"},
    {title: "Nike Shoes 19", price: "75.00", path: "@img/products-2.png"},
    {title: "Nike Leron X1", price: "75.00", path: "@img/products-3.png"},
    {title: "Nike Leron X1", price: "75.00", path: "@img/products-4.png"},
  ]

section.categorys
  .container
    h2.categorys__title Categorys
    p.categorys__text Similler product
    +products-list(products)