section.categorys
    h2 Categorys
    p Similler product
    ul.products-list
        li.products-list__item
            h3 Nike Leron X1
            p $75.00
            button Add To Cart
        li.products-list__item
            h3 Nike Shoes 19 
            p $75.00
            button Add To Cart
        li.products-list__item
            h3 Nike Leron X1
            p $75.00
            button Add To Cart
        li.products-list__item
            h3 Nike Leron X1
            p $75.00
            button Add To Cart