section.features
  .container
    img(src="@img/features.png", alt="Nike SB Nyjah Free 2", width="667", height="972")
    .features__block
      h2.features__title Features
      p.features__promo Bring the future to light
      p.features__text The Nike SB Nyjah Free 2 is a sequel worthy of its predecessor. Inspired by the iconic Nike Air Zoom Spiridon, the original rubber design has been updated with mesh panels to help your feet stay cool through your hottest skate sessions.
      .features__colors
        h3.features__subtitle Colors:
        .color-chooser
          label.color-chooser__label(for="color_1") Beige
          input.color-chooser__item(type="radio" name="color" id="color_1" style="background-color: #dfd2bf;")

          label.color-chooser__label(for="color_2") Brown
          input.color-chooser__item(type="radio" name="color" id="color_2" style="background-color: #dba82f;")

          label.color-chooser__label(for="color_3") Yellow
          input.color-chooser__item(type="radio" name="color" id="color_3" style="background-color: #ffef5a;")

          label.color-chooser__label(for="color_4") Blue
          input.color-chooser__item(type="radio" name="color" id="color_4" style="background-color: #5aceff;")
      .features__size
        h3.features__subtitle Size:
        .size-chooser
          input.size-chooser__item(type="radio" name="size" id="size_1")
          label.size-chooser__label(for="size_1") UK 5.5

          input.size-chooser__item(type="radio" name="size" id="size_2")
          label.size-chooser__label(for="size_2") EU 39

          input.size-chooser__item(type="radio" name="size" id="size_3")
          label.size-chooser__label(for="size_3") UK 6.5

          input.size-chooser__item(type="radio" name="size" id="size_4")
          label.size-chooser__label(for="size_4") UK 7.5
      button.features__btn-card(type="button") Add to bag
      button.features__btn-wl(type="button") Wishlist