section.features
    h2 Features
    p Bring the future to light
    p The Nike SB Nyjah Free 2 is a sequel worthy of its predecessor. Inspired by the iconic Nike Air Zoom Spiridon, the original rubber design has been updated with mesh panels to help your feet stay cool through your hottest skate sessions.
    h3 Colors:
    ul.colors-list
        li.colors-item
        li.colors-item
        li.colors-item
        li.colors-item
    ul.size-list
        li.size-item UK 5.5
        li.size-item EU 39
        li.size-item UK 6.5
        li.size-item UK 7.5
    button Add to bag
    a(href="#") Wishlist