section.features
  .container
    img(src="@img/features.png", alt="Nike SB Nyjah Free 2")
    .features__block
      h2.features__title Features
      p.features__promo Bring the future to light
      p.features__text The Nike SB Nyjah Free 2 is a sequel worthy of its predecessor. Inspired by the iconic Nike Air Zoom Spiridon, the original rubber design has been updated with mesh panels to help your feet stay cool through your hottest skate sessions.
      .features__colors
        h3.features__subtitle Colors:
        ul.colors-list
          li.colors-list__item.colors-list__item--beige
          li.colors-list__item.colors-list__item--brown
          li.colors-list__item.colors-list__item--yellow
          li.colors-list__item.colors-list__item--blue
      .features__size
        h3.features__subtitle Size:
        ul.size-list
          li.size-list__item UK 5.5
          li.size-list__item EU 39
          li.size-list__item UK 6.5
          li.size-list__item UK 7.5
      button.features__btn-card(type="button") Add to bag
      button.features__btn-wl(type="button") Wishlist