footer.footer
    .footer__main
        img(src="", alt="Logo Nike")
        p Stay update with our lastes ventures & news
        form
            input(type="text", placeholder="enter your email box")
            button(type="submit") &rarr;
        ul
            li Get help
                ul
                    li Order Status
                    li Delivery
                    li Returns
                    li Payment Options
            li About Nike
                ul
                    li News
                    li Careers
                    li Investors
                    li Sustainability
        ul.footer__social-list
            li.footer__social-item Facebook
            li.footer__social-item Twitter
            li.footer__social-item Instagram
            li.footer__social-item YouTube
    .footer__bottom
        p Copyright © 2021 Reluxy ! All Rights Reserved By Forhadul Alam Minar