header.header
  .container.header__container
    img.header__logo(src="@img/logo-nike.svg", alt="Logo Nike")
    nav.header__menu
      ul.main-menu
        li
            a.main-menu__link(href="#", target="_blank") Man
        li
            a.main-menu__link(href="#", target="_blank") Woman
        li
            a.main-menu__link(href="#", target="_blank") Kids
        li
            a.main-menu__link(href="#", target="_blank") Customise
      ul.user-menu
        li.user-menu__link.user-menu__link--search Search
        li.user-menu__link.user-menu__link--wlist Wishlist
        li.user-menu__link.user-menu__link--card Card
        li.user-menu__item Menu