header
    img(src="", alt="Logo Nike")
    nav
        ul
            li
                a(href="#", target="_blank") Man
            li
                a(href="#", target="_blank") Woman
            li
                a(href="#", target="_blank") Kids
            li
                a(href="#", target="_blank") Customise
        ul
            li Search
            li Wishlist
            li Card
            li Menu