section.popular
  .container
    .popular__back
      .popular__item
        img(src="@img/popular-woman.png", alt="woman", width="720", height="680")
      .popular__item
        img(src="@img/popular-man.png", alt="man", width="720", height="680")
    .popular__action
      h2.popular__title Waffle one crater
      a.popular__btn(href="#") Shop now