mixin products-list(list)
  ul.products-list
    for item in list
      - var {title="", price="0", path} = item
        li.products-list__item
          .products-list__picture
            img(src=path)
          .products-list__colors
            span.products-list__colors-item.products-list__colors-item--beige
            span.products-list__colors-item.products-list__colors-item--brown
            span.products-list__colors-item.products-list__colors-item--yellow
            span.products-list__colors-item.products-list__colors-item--blue
          h3.products-list__title=title
          p.products-list__price=`$${price}`
          button.products-list__btn Add to cart