section.promo
  .container
    .promo__text
      h2.promo__title Men's Shoes
      p.promo__name Nike SB Nyjah Free 2
      p.promo__price $259.00
      button.promo__action(type="button") Buy Now
    .social-list
      a.social-list__item.social-list__item--fb(href="#", target="_blank") Facebook
      a.social-list__item.social-list__item--tw(href="#", target="_blank") Twitter
      a.social-list__item.social-list__item--inst(href="#", target="_blank") Instagram
      a.social-list__item.social-list__item--tube(href="#", target="_blank") YouTube