section.promo
    .promo__text
        h2 Men's Shoes
        p Nike SB Nyjah Free 2
        p $259.00
        button(type="button") Buy Now
    .promo__image
        img(src="", alt="Nike SB Nyjah Free 2")
        p Scroll Down
        .social__list
            a.social__icon(href="#", target="_blank") Facebook
            a.social__icon(href="#", target="_blank") Twitter
            a.social__icon(href="#", target="_blank") Instagram
            a.social__icon(href="#", target="_blank") YouTube
