html
    head
        link(rel="stylesheet", href="css/style.min.css")
    body 
        include html/header
        main.page
            h1 Главная старница
            p Это главная страница
        include html/footer
        script(src="js/app.min.js")