html
    head
        link(rel="stylesheet", href="css/style.min.css")
    body 
        include html/header
        main
            include html/promo
            include html/features
            include html/categorys
            include html/categorys
            include html/popular
        include html/footer
        script(src="js/app.min.js")