.footer {
  background-color: #02083c;
  color: $ff-color-light;
  padding: 84px 87px 34px 83px;

  &__main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 0 81px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &-menu {
    display: flex;
    gap: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: $ff-bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  &-submenu {
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
    font-family: $ff-main;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    opacity: 0.8;
  }

  &__social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  &__social-item {
    width: 26px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    margin-left: 40px;
  }

  &__social-item--fb {
    background-image: url(../img/icons/icons.svg#social-i-fb);
  }
  &__social-item--tw {
    background-image: url(../img/icons/icons.svg#social-i-tw);
  }
  &__social-item--inst {
    background-image: url(../img/icons/icons.svg#social-i-inst);
  }
  &__social-item--tube {
    background-image: url(../img/icons/icons.svg#social-i-tube);
  }

  &__bottom {
    padding: 30px 0 0;
    font-family: $ff-light;
    line-height: 16px;
    text-transform: capitalize;
    text-align: center;
  }
}

.subscription-form {
  display: flex;
  flex-direction: column;

  &__text {
    padding-top: 27px;
    text-transform: capitalize;
  }

  &__form {
    margin-top: auto;
    margin-bottom: 0;
    border-bottom: 1px solid #ffffff;
    padding: 12px 0;
  }

  &__input {
    width: calc(100% - 34px);
    margin: 0;
    border: none;
    background-color: #02083c;
    line-height: 16px;
    color: $ff-color-light;

    &::placeholder {
      color: $ff-color-light;
      opacity: 0.7;
    }
  }

  &__input:focus {
    outline: none;

    &::placeholder {
      color: $ff-color-main;
      opacity: 1;
    }
  }

  &__btn {
    width: 30px;
    margin: 0;
    border: none;
    background-color: #02083c;
    color: $ff-color-light;
    font-weight: 300;
    cursor: pointer;
  }
}
