.header {
  background: #fffff5;

  &__container {
    display: flex;
    align-items: center;
    padding-left: 86px;
    min-height: 90px;

    @media (max-width: 815px) {
      justify-content: space-between;
    }

    @media (max-width: 700px) {
      padding-left: 50px;
    }
  }

  &__logo {
    margin-right: 70px;
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    min-height: 90px;

    @media (max-width: 815px) {
      flex-grow: 0;
    }
  }
}

.main-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {
    display: inline-block;
    padding: 37px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 16px;
    color: $ff-color-main;

    &:hover,
    &:active,
    &:focus {
      color: $ff-color-light;
      background-color: #ffc700;
    }
  }

  @media (max-width: 815px) {
    display: none;
  }
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;

  &__link {
    width: 39px;
    height: 39px;
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(0, 0, 1, 0.05);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #ffc700;
    }

    @media (max-width: 1010px) {
      display: none;
    }
  }

  &__link--search {
    background-image: url(../img/icons/icons.svg#i-search);
    background-size: 15px 15px;
  }
  &__link--wlist {
    background-image: url(../img/icons/icons.svg#i-like);
    background-size: 16px 15px;
  }
  &__link--card {
    background-image: url(../img/icons/icons.svg#i-card);
    background-size: 13px 15px;
  }

  &__item {
    width: 94px;
    height: 100%;
    background-color: #ffc700;
    background-image: url(../img/icons/icons.svg#i-burger);
    background-size: 18px 16px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}
