.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;

  &__item {
    padding: 20px 10px;
    box-shadow: 30px 20px 45px rgba(0, 0, 1, 0.03);

    &:hover .products-list__picture::after {
      background-color: #ffd0c3;
    }
  }

  &__picture {
    position: relative;
    margin: 27px auto 35px;

    &::after {
      position: absolute;
      content: "";
      width: 147px;
      height: 147px;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      background-color: #e0e1e5;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  &__colors {
    display: flex;
    gap: 10.4px;
    justify-content: center;
    margin-bottom: 18px;
  }

  &__colors-item {
    width: 14.5px;
    height: 14.5px;
    border-radius: 50%;

    &--beige {
      background-color: #dfd2bf;
    }
    &--brown {
      background-color: #dba82f;
    }
    &--yellow {
      background-color: #ffef5a;
    }
    &--blue {
      background-color: #5aceff;
    }
  }

  &__title {
    font-family: $ff-accent;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #3a2e39;
    margin: 0 0 15px;
  }

  &__price {
    font-family: $ff-bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ff3d00;
    margin: 0 0 18px;
  }

  &__btn {
    position: relative;
    font-family: $ff-main;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    background-color: #0047ff;
    background-image: linear-gradient(107.81deg, #0047ff -0.31%, #ec00e2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #fff;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(107.81deg, #0047ff -0.31%, #ec00e2 100%);
    padding: 11px 35px 10px 14px;
    outline: none;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 9px;
      top: 13px;
      right: 14px;
      background-image: url(../img/icons/icons.svg#i-basket);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
