$color-black: #000;
$color-white: #fff;

$ff-main: "Gilroy-Medium";
$ff-light: "Gilroy-Light";
$ff-bold: "Gilroy-Вold";
$ff-accent: "BebasNeue";

$ff-color-main: #3e3e3e;
$ff-color-light: $color-white;
$ff-color-title: #1f170a;
